{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="mb-3">Восстановление пароля</h1>
    <form id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="password1" class="form-label mb-1">Новый пароль</label>
            <input type="password" class="form-control form-control-sm" id="password1" name="new_password1" autofocus
                   required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label mb-1">Повтор нового пароля</label>
            <input type="password" class="form-control form-control-sm" id="password2" name="new_password2" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btn-primary w-100 btn-sm">Продолжить</button>
        </div>
    </form>
    <script type="text/javascript"
            src="{% static 'js/authentication/reset-password-confirm/validate-form.js' %}"></script>
{% endblock %}