{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="mb-3">Восстановление пароля</h1>
    <form id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label mb-1">Электронная почта</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" autofocus required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btn-primary w-100 btn-sm">Продолжить</button>
            <div class="w-100 text-center my-2">
                <a href="{% url 'login' %}" class="btn btn-link btn-sm">Войти</a>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/authentication/reset-password/validate-form.js' %}"></script>
{% endblock %}