{% extends 'authentication/base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="mt-3">Восстановление пароля</h1>
    <form id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email" autofocus required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btn-primary w-100">Продолжить</button>
            <div class="w-100 text-center my-2">
                <a href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/authentication/handler.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/display-feedback.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/reset-password/validate-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-form-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/send-form-data.js' %}"></script>
{% endblock %}