{% extends 'account/base.html' %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1 class="mt-3">Вход</h1>
    <form id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email" autofocus required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btn-primary w-100">Войти</button>
            <div class="w-100 text-center my-2">
                <span>или</span>
            </div>
            <a href="{% url 'registration' %}" type="button" class="btn btn-outline-primary w-100">Зарегистрироваться</a>
            <div class="w-100 text-center my-2">
                <a href="#">Забыли пароль?</a>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/account/handler.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/display-feedback.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/login/validate-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-form-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/send-form-data.js' %}"></script>
{% endblock %}