{% extends 'account/base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h1 class="mt-3">Восстановление пароля</h1>
    <form id="form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="password1" class="form-label">Новый пароль</label>
            <input type="password" class="form-control" id="password1" name="new_password1" autofocus required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Повтор нового пароля</label>
            <input type="password" class="form-control" id="password2" name="new_password2" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mt-1 mb-4">
            <button type="submit" class="btn btn-primary w-100">Продолжить</button>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/account/handler.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/validators.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/display-feedback.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/reset-password-confirm/validate-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-form-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/account/send-form-data.js' %}"></script>
{% endblock %}