{% extends 'user_profile/user_settings/left_bar.html' %}
{% load static %}

{% block title %}Telegram уведомления{% endblock %}
{% block active-notifications-settings %}active{% endblock %}

{% block settings %}
    {% include 'user_profile/user_settings/preloader.html' %}

    <script type="text/javascript" defer
            src="{% static 'js/handler.js' %}"></script>
    <script type="text/javascript" defer
            src="{% static 'js/user_profile/user_settings/notifications_settings/validate-form.js' %}"></script>
    <script type="text/javascript" defer
            src="{% static 'js/user_profile/user_settings/notifications_settings/checkbox.js' %}"></script>
    <script type="text/javascript" defer
            src="{% static 'js/user_profile/user_settings/preloader.js' %}"></script>

    <div class="col-xl-6 col-12 order-lg-2 order-3 contentJS visually-hidden">
        <form id="form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="telegram-username" class="form-label fw-semibold mb-1">Имя пользователя телеграм</label>
                {% if user.telegram_username %}
                    <input type="text" class="form-control form-control-sm" id="telegram-username"
                           name="telegram_username" value="{{ user.telegram_username }}" maxlength="32" required>
                {% else %}
                    <input type="text" class="form-control form-control-sm" id="telegram-username"
                           name="telegram_username" maxlength="32" required>
                {% endif %}
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input form-control p-0" type="checkbox" id="telegram-notifications"
                       name="telegram_notifications" value="{{ user.telegram_notifications }}">
                <label class="form-check-label" for="telegram-notifications">
                    Получать уведомления в телеграм
                </label>
                <br>
                <button type="button" class="btn-dark-link btn-dark-link-sm">Подробнее</button>
                <div class="invalid-feedback"></div>
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-2 fw-semibold" id="saveBtn" disabled>Сохранить
            </button>
        </form>
    </div>
{% endblock %}