{% extends 'user_profile/user_settings/left_bar.html' %}
{% load static %}
{% load humanize %}
{% load idna_decode %}

{% block title %}Безопасность и вход{% endblock %}
{% block active-security-settings %}active{% endblock %}

{% block settings %}
    <div class="col-xl-6 col-12 order-lg-2 order-3">
        <form id="form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold mb-1">Адрес электронной почты</label>
                <input type="email" class="form-control form-control-sm" id="email" name="email"
                       value="{{ user.email|idna_decode }}" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label fw-semibold mb-1">Адрес страницы</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon3">http://localhost:8000/user/</span>
                    <input type="text" class="form-control" id="slug" name="slug"
                           value="{{ user.slug }}" maxlength="32" required>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold mb-1">Пароль</label>
                <input type="text" class="form-control form-control-sm" id="password" name="password_info"
                       value="Обновлен {{ user.password_updated_at|naturalday }}" disabled>

                <div class="w-100 text-end">
                    <button type="button" class="btn-dark-link btn-dark-link-sm" id="changePasswordBtn"
                            data-bs-toggle="modal"
                            data-bs-target="#changePasswordModal">Изменить пароль
                    </button>
                </div>

                <div class="invalid-feedback"></div>
            </div>
            <button type="submit" class="btn btn-success btn-sm mt-2 fw-semibold" id="saveBtn" disabled>Сохранить
            </button>
        </form>
    </div>

    <div class="modal fade" id="changePasswordModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Изменение пароля</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <hr class="mb-3">
                    <div class="mb-3">
                        <label for="old_password" class="form-label fw-semibold mb-1">Старый
                            пароль</label>
                        <input type="password" class="form-control form-control-sm modalInput"
                               id="old-password"
                               name="old_password" required autocomplete="off">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label fw-semibold mb-1">Новый
                            пароль</label>
                        <input type="password" class="form-control form-control-sm modalInput"
                               id="new-password1"
                               name="new_password1" required autocomplete="new-password">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="">
                        <label for="new_password2" class="form-label fw-semibold mb-1">
                            Повтор Нового пароля</label>
                        <input type="password" class="form-control form-control-sm modalInput"
                               id="new-password2"
                               name="new_password2" required autocomplete="new-password">
                        <div class="invalid-feedback"></div>
                    </div>
                    <hr class="mt-4">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отменить
                    </button>
                    <button type="submit" class="btn btn-success btn-sm" id="modalSaveBtn" disabled>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}